define({
  "dataPath": "{{meshviewer_data_url}}",
  "siteName": "{{meshviewer_site_name}}",
  "mapSigmaScale": {{meshviewer_map_sigma_scale}},
  "showContact": {{meshviewer_show_contacts}},
  "maxAge": {{meshviewer_max_age}}
})