server {
  listen          [::]:80;
  listen          80;
  server_name     {{ gogs_domain }};

  access_log off;

  location / {
    return 301 https://$host$request_uri;
  }

  location /.well-known/acme-challenge/ {
    include           proxy_params;
    proxy_pass        http://127.0.0.1:402;
  }
}