[Unit]
Description=Gogs (Go Git Service)
After=syslog.target
After=network.target

[Service]
# Modify these two values and uncomment them if you have
# repos with lots of files and get an HTTP error 500 because
# of that
###
#LimitMEMLOCK=infinity
#LimitNOFILE=65535
Type=simple
User={{ gogs_user }}
Group={{ gogs_group }}
WorkingDirectory={{ gogs_home }}/gogs
ExecStart={{ gogs_home }}/gogs/gogs web
Restart=always
Environment=USER={{ gogs_user }} HOME={{ gogs_home }}

[Install]
WantedBy=multi-user.target