protocol static bh_mynet {
    preference 1;
    route {{ ipv6_network }} blackhole;
};

protocol ospf IGP_OSPF {
    area 0.0.0.0 {
        interface "mesh-*";
        interface "local0" {
            stub;
        };
    };

    import all;
    export where source != RTS_STATIC;
}
