{% for host in groups['all'] %}
{% if hostvars[host] is defined %}
{% if hostvars[host]['inventory_hostname'] != inventory_hostname %}
auto {{hostvars[host]['inventory_hostname_short']}}
iface {{hostvars[host]['inventory_hostname_short']}} inet manual
    pre-up ip link add $IFACE type gretap local {{ansible_default_ipv4.address}} remote {{hostvars[host]['ansible_ssh_host']}} dev {{ansible_default_ipv4.alias}}
    pre-up ip link set up dev $IFACE
    up batctl if add $IFACE
    post-down ip link set down dev $IFACE
    post-down ip link del dev $IFACE
{% endif %}
{% endif %}
{% endfor %}
