[Unit]
Description=gluon-collector

[Service]
ExecStart={{gluon_collector_base_path}}/gluon-collector -config /etc/gluon-collector.yaml
Restart=on-failure
User={{gluon_collector_user}}

[Install]
WantedBy=multi-user.target