bind {{ primary_v4_address }}:{{ item.port }};
bind [{{ primary_v6_address | ipaddr('address') }}]:{{ item.port }};
include "secret.conf";
include peers from "dummy";
interface "fastd-{{ item.name }}";
log to syslog level info;
mode tap;
method "salsa2012+umac";
method "null";
peer limit {{item.peer_limit}};
hide ip addresses yes;
hide mac addresses yes;
mtu 1280;
secure handshakes yes;
forward no;
log to syslog level verbose;
# status socket "/tmp/fastd-{{ item.name }}.sock";
user "fastd";

on up "
  ip link set up $INTERFACE
  batctl if add $INTERFACE
";

on verify "
  /etc/fastd/fastd-blacklist.sh $PEER_KEY
";
