log syslog all;
router id {{bird_router_id}};

{% for template in bird_templates %}
template {{template.header}} {
  {{template.content|indent(2,false)}}
};

{% endfor %}
{% for protocol in bird_protocols %}
protocol {{protocol.header}} {
  {{protocol.content|indent(2,false)}}
};

{% endfor %}