location = / {
  return 302 /meshviewer/;
}

rewrite ^/meshviewer-neu(.*)$ /meshviewer$1 permanent;

location /meshviewer {
  alias /srv/meshviewer;
  index index.html;
  try_files $uri $uri/ =404;
  gzip on;
  gzip_comp_level 2;
  gzip_types application/json application/javascript text/css;
  gzip_vary on;
}

location /data/ {
  include proxy_params;
  proxy_pass http://[::1]:8079/;
  gzip on;
  gzip_comp_level 2;
  gzip_types application/json;
  gzip_vary on;
}

location /meshviewer-alt {
  proxy_pass https://[2001:4ba0:ffff:15::22];
  proxy_set_header Host map.ffdo.de;
}

location /data-alt {
  proxy_pass https://[2001:4ba0:ffff:15::22];
  proxy_set_header Host map.ffdo.de;
}