log syslog all;
router id {{supernode_mesh_ipv4|ipaddr('address')}};

protocol direct {
        interface "*";
};

protocol kernel {
        device routes;
        import all;
        export all;
        kernel table 42;
};

protocol device {
        scan time 8;
};

template bgp ibgp {
        local as {{supernode_as}};
        import all;
        export all;
        next hop self;
        multihop 64;
};

{% for uplink in supernode_uplinks %}
protocol bgp {{uplink.name}} from ibgp {
        source address {{uplink.address}};
        neighbor {{uplink.dstaddr}} as {{uplink.as}};
        default bgp_med 2;
};

{% endfor %}

{% for meshlink in supernode_mesh_backbones%}
protocol bgp {{meshlink.name}} from ibgp {
        source address {{supernode_mesh_ipv4|ipaddr('address')}};
        neighbor {{meshlink.mesh_ip}} as {{supernode_as}};
        default bgp_med 4;
};
{% endfor %}