log syslog all;
router id {{ primary_v4_address }};

protocol static uplink_hostroute {
    import all;
    export all;
};

protocol direct {
    interface "*";
};

protocol kernel {
    persist;
    device routes;
    scan time 20;
    import all;
    export all;
    kernel table 42;
};

protocol device {
        scan time 10;
}

protocol static {
    preference 1;
    route ::/0 unreachable;
};

protocol static {
    route {{ ipv6_network }} via "lo";
};

include "/etc/bird/conf6.d/*.conf";
