template bgp uplink {
        local as {{ as }};
        import where net ~ ::/0;
        export where net ~ {{ ipv6_network }};
}

{% if peers is defined %}
{% for peer in peers %}
protocol bgp '{{ peer.name }}' from uplink {
        neighbor {{ peer.peer_ipv6|ipaddr('address') }} as {{ peer.as }};
}

{% endfor %}
{% endif %}
