{% if peers is defined %}
{% for peer in peers %}
{% if peer.gre_endpoint is defined %}
auto peer-{{peer.name}}
iface peer-{{peer.name}} inet tunnel
    mode gre
    address {{peer.source_ip4}}
    dstaddr {{peer.peer_ip4}}
    local {{primary_v4_address}}
    endpoint {{peer.gre_endpoint}}
    ttl 64
    mtu 1400

iface peer-{{peer.name}} inet6 static
    address {{peer.gre.ip6}}

{% endif %}
{% endfor %}
{% endif %}
