{% for host in groups['batman'] %}
{% if hostvars[host]['inventory_hostname'] != inventory_hostname %}
auto batman-{{hostvars[host]['inventory_hostname_short']}}
iface batman-{{hostvars[host]['inventory_hostname_short']}} inet manual
    pre-up ip link add $IFACE type ip6gretap remote {{hostvars[host]['primary_v6_address']|ipaddr('address')}} local {{primary_v6_address|ipaddr('address')}} key 2 dev {{ primary_interface }}
    pre-up ip link set up dev $IFACE
    up batctl if add $IFACE
    post-down ip link set down dev $IFACE
    post-down ip link del dev $IFACE
{% endif %}
{% endfor %}
