protocol direct direct_bat0 {
	interface "bat0";
}

protocol radv radv_bat0 {
	interface "bat0";
	rdnss {{mesh_ipv6_address|ipaddr('address')}};
{% for host in groups['supernodes'] %}
{% if hostvars[host]['inventory_hostname'] != inventory_hostname %}
	rdnss {{ hostvars[host]['mesh_ipv6_address']|ipaddr('address')}};
{% endif %}
{% endfor %}
}
