log syslog all;

router id {{routerid}};

# table ffrl; # BGP Peerings
# table ibgp;
# table freifunk; # Kernel table 42 (Routing from Freifunk networks)

protocol kernel {
        scan time 20;
        device routes;
        import all;
        export all;
        kernel table 42;
}

protocol device {
        scan time 10;
}

protocol static unreachable_default {
    preference 1;
    route 0.0.0.0/0 reject;
};

include "/etc/bird/conf.d/*.conf";
