ddns-update-style none;
log-facility local7;
authoritative;

default-lease-time 600;
max-lease-time 7200;

# suppress wpad DHCPINFORM requests from MSFT devices
# See https://lists.isc.org/pipermail/dhcp-users/2013-September/017193.html
option wpad code 252 = text;
option wpad "\n\000";
class "MSFT" {
  match if substring(option vendor-class-identifier, 0, 4) = "MSFT";
  option dhcp-parameter-request-list = concat(option dhcp-parameter-request-list, fc);
}

option interface-mtu 1280;

subnet {{batman_mesh_ipv4|ipaddr('network')}} netmask {{batman_mesh_ipv4|ipaddr('netmask')}} {
  range {{dhcp_range_start}} {{dhcp_range_end}};
  option routers {{batman_mesh_ipv4|ipaddr('address')}};
  option domain-name-servers {{batman_mesh_ipv4|ipaddr('address')}};
  option ntp-servers {{batman_mesh_ipv4|ipaddr('address')}};
}
