[Unit]
Description=node_exporter
After=syslog.target
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/node_exporter -web.listen-address 127.0.0.1:9100
Restart=always

[Install]
WantedBy=multi-user.target